svg(x='0px', y='0px', viewBox='0 0 73 73', style='enable-background:new 0 0 73 73;')
  path(d='M68.6,10.8H4.4c-1,0-1.9,0.9-1.9,2v47.4c0,1.1,0.8,2,1.9,2h64.2c1,0,1.9-0.9,1.9-2V12.8C70.5,11.7,69.7,10.8,68.6,10.8z\
  M66.7,14.8v7L36.5,38.6L6.3,21.7v-7H66.7z M6.3,58.2v-32l29.4,16.4c0.3,0.1,0.6,0.2,0.8,0.2s0.6-0.1,0.8-0.2l29.4-16.4v32H6.3z')
