extend ../Layout.pug

block header
  include ../components/Header.pug

block footer
  include ../components/Footer.pug

block body
  article
    h2 #{$t.hello.world}!
    img(src="../images/test.png")
  

