extend ../Layout.pug

block header
  //- include ../components/Header.pug

block footer
  //- include ../components/Footer.pug

block css
  //- link(rel="stylesheet", href="../css/home.css")

block body
  article
    h2 home
    img(src=`../images/${$t.lang}/test.png`, alt="")
  

