extend ../Layout.pug

block header
  //- include ../components/Header.pug

block footer
  //- include ../components/Footer.pug

block css
  link(rel="stylesheet", href="../css/application.css")

block js
  script.
    application();

block body
  article#medical
    section.banner(style='background-image: url(../images/medical_banner.jpg)')
      .content
        .slogan 醫療整合解決方案
    section.carousel
      .wrapper
        h2 醫療輔器
        .category 交替TPU管條
        .category-btn
        .container
          .category-box
            .category-item 交替TPU管條
            .category-item 充氣TPU輔具
            .category-item 高週波TPU囊袋
            .category-item TPU膜敷墊
            .category-item 護理TPU洗浴床
            .category-item 護理TPU移床布
          .carousel-box
            - var list = [8,3,2,2,2,2]
            each item,index in list
              .category-carousel(class="carousel-0"+(index+1) class={"active":index==0,"lock-dot-carousel-d":item<=5,"lock-dot-carousel-m":item<=3})
                .main-carousel.application-main-carousel
                  - for (var i = 1; i <= item; i++)
                    .carousel-item
                      .item
                        figure.pic
                          img(src=`../images/medical_type0${index+1}_pic0${i}.jpg`)
                .dot-box
                  .pre-btn.pre-btn
                  .dot-carousel.application-dot-carousel
                    - for (var i = 1; i <= item; i++)
                      .carousel-item
                        .pic(style=`background-image:url('../images/medical_type0${index+1}_pic0${i}.jpg')`)
                  .next-btn.next-btn
    section.feature
      .wrapper
        h2 產品特色
        .box
          .item
            .title ・TPU膜壓紋絕佳親膚感
            .txt 優異塗層阻隔與南亞獨特TPU膜綿密細緻壓紋，具備易清潔、爽身無負擔的特色
          .item
            .title ・TPU膜壓紋絕佳親膚感
            .txt 優異塗層阻隔與南亞獨特TPU膜綿密細緻壓紋，具備易清潔、爽身無負擔的特色
          .item
            .title ・TPU膜壓紋絕佳親膚感
            .txt 優異塗層阻隔與南亞獨特TPU膜綿密細緻壓紋，具備易清潔、爽身無負擔的特色
          .item
            .title ・TPU膜壓紋絕佳親膚感
            .txt 優異塗層阻隔與南亞獨特TPU膜綿密細緻壓紋，具備易清潔、爽身無負擔的特色




