extend ../Layout.pug

block header
  //- include ../components/Header.pug

block footer
  //- include ../components/Footer.pug

block css
  link(rel="stylesheet", href="../css/application.css")

block js
  script.
    application();

block body
  article
    section.banner(style='background-image: url(../images/outdoor_banner.jpg)')
      .content
        .slogan 戶外休閒
    section.carousel
      .wrapper
        h2 戶外休閒
        .category 高週波防水袋
        .category-btn
        .container
          .category-box
            .category-item 高週波防水袋
            .category-item 戶外休閒
            .category-item 自行車旅行袋
            .category-item 拳擊水袋
            .category-item TPU耐磨充氣
            .category-item 高週波用
          .carousel-box
            - var list = [5,8,2,1,2,9]
            each item,index in list
              .category-carousel(class="carousel-0"+(index+1) class={"active":index==0,"lock-dot-carousel-d":item<=5,"lock-dot-carousel-m":item<=3})
                .main-carousel.application-main-carousel
                  - for (var i = 1; i <= item; i++)
                    .carousel-item
                      .item
                        figure.pic
                          img(src=`../images/outdoor_type0${index+1}_pic0${i}.jpg`)
                .dot-box
                  .pre-btn.pre-btn
                  .dot-carousel.application-dot-carousel
                    - for (var i = 1; i <= item; i++)
                      .carousel-item
                        .pic(style=`background-image:url('../images/outdoor_type0${index+1}_pic0${i}.jpg')`)
                  .next-btn.next-btn
    section.feature
      .wrapper
        h2 產品特色
        .box
          .item
            .txt.dot ・各式布料淋膜搭配，提升耐刮磨，不穿透不穿破，戶外運動絕佳防護
          .item
            .txt.dot ・發泡材料強化吸震與耐衝擊，耐寒耐熱優於一般塑料，有效提升產品壽命
          .item
            .txt.dot ・適用高週波、熱壓等加工，無車縫兼具視覺簡約美觀與防水特性
          .item
            .txt.dot ・手感軟硬度、機能性壓紋、特殊設計等均能 從材料端直接配合開發




