extend ../Layout.pug

block header
  //- include ../components/Header.pug

block footer
  //- include ../components/Footer.pug

block css
  link(rel="stylesheet", href="../css/application.css")

block js
  script.
    application();

block body
  article#sport
    section.banner(style='background-image: url(../images/sport_banner.jpg)')
      .content
        .slogan 運動用品
    section.carousel
      .wrapper
        h2 醫療輔運動用品器
        .category 鞋眼補強材
        .category-btn
        .container
          .category-box
            .category-item 鞋眼補強材
            .category-item 鞋後跟支撐材
            .category-item 側邊Logo鞋飾片
            .category-item 鞋頭耐撞材
            .category-item 熱壓貼合材
            .category-item 衣用防水面料
          .carousel-box
            - var sport = [2,2,1,2,1,7]
            each item,index in sport
              .category-carousel(class="carousel-0"+(index+1) class={"active":index==0,"lock-dot-carousel-d":item<=5,"lock-dot-carousel-m":item<=3})
                .main-carousel.application-main-carousel
                  - for (var i = 1; i <= item; i++)
                    .carousel-item
                      .item
                        figure.pic
                          img(src=`../images/sport_type0${index+1}_pic0${i}.jpg`)
                .dot-box
                  .pre-btn.pre-btn
                  .dot-carousel.application-dot-carousel
                    - for (var i = 1; i <= item; i++)
                      .carousel-item
                        .pic(style=`background-image:url('../images/sport_type0${index+1}_pic0${i}.jpg')`)
                  .next-btn.next-btn
    section.feature
      .wrapper
        h2 產品特色
        .box
          .item
            .txt.dot ・南亞多樣加工工藝，可立即提供色水、紋路、壓紋或皮料及布料複合解決方案
          .item
            .txt.dot ・加工經驗與建議，為刮磨、防穿透、抗撕裂與加工性解決方案資選
          .item
            .txt.dot ・與熱熔膠複合，將具機能性TPU膠布透過熱熔膠與各式材料貼合




