@import ./_base
@import ./_variable


article#product
  section.banner
    background-image: url(../images/product_banner.jpg)
    .content
      width: 100%
      max-width: 950px
      padding: 0 15px 30px
      color: $white001
      text-align: left
      box-sizing: border-box
      +pstc5
      .slogan
        font-size: 3rem
    +rwd(768px)
      .content
        padding: 0
        text-align: center
        .slogan
          font-size: 1.625rem
  section.information
    .wrapper
      .info-box
        padding: 30px 0
        font-size: 0
        .info-item
          width: calc(100% / 3)
          display: inline-block
          vertical-align: top
          .title
            padding: 30px 0
            font-size: 1.5rem
            color: $blue002
            text-align: center
          figure.pic
            width: 100%
          .content
            width: 100%
            padding: 30px 20px
            box-sizing: border-box
            +clearfix
            .txt
              font-size: 0.9rem
              line-height: 1.5rem
            .btn
              font-size: 0.9rem
              color: $blue002
              display: inline-block
              cursor: pointer
              float: right
          &:nth-child(1)
    +rwd(768px)
      .wrapper
        .info-box
          padding: 15px 0
          .info-item
            width: 50%
            .title
              padding: 15px 0
              font-size: 1rem
            figure.pic
            .content
              padding: 15px 10px
              .txt
                font-size: 0.75rem
                line-height: 1rem
              .btn
                font-size: 0.75rem
            &:nth-child(1)
              width: 100%
              .title
                width: 50%
              figure.pic
                width: 50%
                display: inline-block
                vertical-align: top
              .content
                width: 50%
                padding: 0 10px
                display: inline-block
                vertical-align: top
                .txt
                .btn
  section.certification
    padding: 60px 0
    .wrapper
      h2
        padding: 30px 0
      .txt
        padding: 0 80px 40px
        font-size: 0.9rem
      .certification-box
        font-size: 0
        text-align: center
        .item
          width: calc(100% / 3)
          padding: 0 40px
          margin: 15px 0
          box-sizing: border-box
          display: inline-block
          vertical-align: top
          cursor: pointer
          figure.pic
            box-shadow: 0px 0px 13px rgba($gray002,.3)
          .name
            padding: 20px 0
            font-size: 1.2rem
            color: $blue002
    +rwd(768px)
      padding: 30px 0
      .wrapper
        h2
          padding: 15px 0
        .txt
          padding: 0 0px 20px
          font-size: 0.75rem
        .certification-box
          .item
            width: 50%
            padding: 0 10px
            // margin: 15px 0
            figure.pic
            .name
              padding: 10px 0
              font-size: 1rem
  section#specification-popup.popup
    display: none
    width: 100vw
    height: 100vh
    overflow-y: auto
    box-sizing: border-box
    background-color: rgba(#000,.6)
    position: fixed
    top: 0
    left: 0
    z-index: 100
    cursor: pointer
    .container
      width: 100%
      padding: 5vh 10%
      box-sizing: border-box
      position: relative
      figure.pic
        position: relative
        cursor: default

  section#certification-popup
    display: none
    width: 100vw
    height: 100vh
    overflow-y: auto
    box-sizing: border-box
    background-color: rgba(#000,.6)
    position: fixed
    top: 0
    left: 0
    z-index: 100
    cursor: pointer
    .container
      width: 100%
      padding: 5vh 10%
      box-sizing: border-box
      position: relative
      .carousel-box
        max-width: 1200px
        margin: auto
        font-size: 0
        cursor: default
        .main
          width: 85%
          display: inline-block
          vertical-align: top
          .main-carousel.popup-main-carousel
          .dot-box
            padding: 30px 0
            font-size: 0
            .pre-btn,.next-btn
              width: 0
              height: 0
              border-top: 20px solid transparent
              border-bottom: 20px solid transparent
              cursor: pointer
              position: relative
              +dib
            .pre-btn
              border-right: 20px solid $white001
              border-left: 0px solid $white001
            .next-btn
              border-right: 0px solid $white001
              border-left: 20px solid $white001
            .dot-carousel.popup-dot-carousel
              width: calc(100% - 40px)
              +dib
              .carousel-item
                .item 
                  .certification-name
                    font-size: 0.9rem
                    color: $white001
                    text-align: center
        .pic-box
          width: 15%
          padding-left: 30px
          box-sizing: border-box
          display: inline-block
          vertical-align: top
          position: relative
          .item
            opacity: .8
            & + .item
              margin-top: 20px
              cursor: pointer
            &:hover,&.active
              opacity: 1
    +rwd(768px)
      .container
        padding: 5vh 5%
        .carousel-box
          .main
            width: 90%
            .main-carousel.popup-main-carousel
            .dot-box
              padding: 15px 0
              .pre-btn,.next-btn
                border-top: 15px solid transparent
                border-bottom: 15px solid transparent
              .pre-btn
                border-right: 15px solid $white001
              .next-btn
                border-left: 15px solid $white001
              .dot-carousel.popup-dot-carousel
                width: calc(100% - 30px)
              .dot-carousel.popup-dot-carousel
                .carousel-item
                  .item 
                    .certification-name
                      font-size: 0.75rem
          .pic-box
            width: 10%
            padding-left: 5px
            .item
              & + .item
                margin-top: 5px

        
