doctype html
html(lang=$t.htmlLang class=$t.lang+"-style")
  head
    include partials/Meta.pug
    include partials/CssLink.pug
    block css
  body
    include components/Header.pug
    block header
    block body
    block footer
    include components/Footer.pug
    include partials/JsSrc.pug
    block js
      


    